* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(41, 40, 40);
}

body {
    background: rgb(101,3,112);
    background: linear-gradient(90deg, rgba(101,3,112,1) 0%, rgba(109,6,92,1) 95%);
}

/* HEADER */
#header {
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#h1-header {
    color: rgb(67, 6, 107);;
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 2px rgb(216, 211, 211);
}

#p-header {
    font-size: 23px;
    color: white;
}


/* CONTENT */
/* alignment */
#content {
    padding: 5px;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;   
}

#content-box {
    width: 100%;
    margin: 0 auto;
    display: flex; 
    flex-wrap: wrap;
}

.article-topics {
    background-color: rgb(244, 238, 248);
    width: 290px;
    height: 400px;
    display: inline-block;
    margin: 7px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px  rgb(221, 212, 226);
}


.article-topics-images {
    width: auto;
    height: auto;
}

/* texts */
.content-titles {
    color: rgb(122, 9, 103);
    margin: 10px;
    text-align: center;
}

#p-creatingheaders {
    width: 90%;
    text-align: justify;
    margin: auto;
}

hgroup {
    background-color:  rgb(223, 219, 226);
    width: 82%;
    padding: 7px;
    padding-left: 20px;
    margin: auto;
    margin-top: 25px;
}

.list-titles {
    margin-top: 20px;
}


/* lists */
.topic {
    list-style-position: inside;
}

.topic-basicfunc {
    margin-left: 25px;
    margin-bottom: 10px;
}

.subtopic {
    list-style-position: inside;
    margin-left: 30px;
}

#lists-content {
    margin-left: 20px;
}

input {
    margin: 5px;
    background-color: blue;
    border: none;
}

/* table */
table {
    width: 90%;
    text-align: center;
    margin: auto;
    border-radius: 7px;
    padding: 6px;
}

th {
    border-bottom: 1px dashed black;
    padding: 7px;
}


/* others */
figure {
    margin: auto;
    padding: 10px;
}


pre {
    background-color: rgb(223, 219, 226);
    width: auto;   
}
